<launch>
    <arg name="image_directory" default="$(env HOME)/known_person_images"/>

    <node name="usb_cam" pkg="usb_cam" type="usb_cam_node" output="screen">
        <rosparam>
            pixel_format: yuyv
            color_format: yuv422p
        </rosparam>
    </node>

    <node pkg="face_recognition_ros" type="face_classifier.py" name="face_classifier"
        output="screen">
        <remap from="~input" to="/usb_cam/image_raw"/>
        <rosparam subst_value="true">
            known_person_image_dir: $(arg image_directory)
            recognition_method: cnn
            feature_extraction: large
        </rosparam>
    </node>

</launch>
